/*表格的通用样式*/
table{
    border-collapse:collapse;
    border-spacing: 0;
    margin-right: auto;
    margin-left: auto;
    width: 800px;
}

th, td{
    border: 1px solid #b5d6e6;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    height: 20px;
}

th{
    background-color: gray;
}

/*鼠标移动行，变换背景色*/
.hover{
    background-color: #cccc00;
}

/*奇偶行颜色不同*/
.odd{
    background-color: #bbf;
}
.even{
    background-color: #ffc;
}